 header{
  top: 0;
  width: 1000%;
  width: 100%;
  padding: 20px 100px;
  background-color: rgb(2, 84, 99);
 }
 body{
  color: white;
  justify-content: center;
  background-image: url("http://localhost:3000/style/back");
  background-image: url("http://192.168.231.21:3000/style/back");
  /*background-color: burlywood;*/
}
.headerClass{
  display: flex;
  text-decoration: wavy;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: transparent;
}

.wrapper{   
  display: flex;
  width: 400px;
  height: 105px;
  justify-content: center;
  overflow: hidden;
  text-decoration: wavy;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid lightblue;
  border-radius: 30px;
}
.wrap{
  width: 100%;
  background: fixed rgb(2, 84, 99);
  padding: 1px 1px;
  overflow: hidden;
  border: 2px solid lightblue;
  border-radius: 30px;
}

fonts{
  font-size: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}